// Fonts
$font-family-heading: 'Open Sans';
$font-family-body: 'Nunito Sans';
$font-weight-heading: 400;
$font-weight-body: 400;
$font-weight-strong: 700;

// Colors - Text
$color-text-heading: #232933;
$color-text-body: #262626;
$color-text-heading-alt: #f7f7f8;
$color-text-body-alt: #c2cacb;

// Colors - Branding
$color-brand: #16cc6e;
$color-brand-lt: #28f789;
$color-brand-dk: #2e8551;
$color-accent: #cc2b93;

// Colors - Background
$color-bg-main: #fff;
$color-bg-dark: #f0f2f4;
$color-bg-alt: #232933;

// Colors - Grays
$color-gray-1: #f7f7f7; // 97%
$color-gray-2: #f2f2f2; // 95%
$color-gray-3: #e6e6e6; // 90%
$color-gray-4: #d9d9d9; // 85%
$color-gray-5: #cccccc; // 80%
$color-gray-6: #aaaaaa; // 67%
