{%- comment -%} Extracted code because of pre whitespace {%- endcomment -%}
<span class="comment">// {{ 'main.comments[0]' | i18n: page }}</span>
<span class="obj">const</span> { test } =
  require('<span class="string">@generalprotocols/test</span>');

<span class="comment">// {{ 'main.comments[1]' | i18n: page }}
// {{ 'main.comments[2]' | i18n: page }}</span>
<span class="obj">const</span> authToken = '<span class="string">&lt;authentication token&gt;</span>';
<span class="obj">const</span> manager = <span class="obj">new</span> test({ authToken });
